@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список пользователей</title>
</head>

<body>
    <div>
      

        <figure>
            
            <img src="image/login.jpg" alt="Login">
        </figure>
        <dir style="margin-left:80px" >
            <dd>
                <button onclick="location.href='@Url.Action("Index", "Account/Register")';return false;">Регистрация</button>
                <button onclick="location.href='@Url.Action("Index", "Account/Login")';return false;">Авторизация</button>
            </dd>
        </dir>
    </div>
</body>
</html>